body {
    font-family: Arial, sans-serif;
    background-color: #eef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-redirect {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-redirect:hover {
    background-color: #005ea6;
}